.about-us {
  position: relative;
  padding-bottom: 50px;
  padding-top: 24px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -71px;
    right: -20px;
    left: -20px;
    height: 200px;
    background: $light_background;
    transform: rotate(3deg);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -60px;
    right: -20px;
    left: -20px;
    height: 150px;
    background: $light_background;
    transform: rotate(-3deg);
    z-index: 20;
  }
  .mission-container {
    z-index: 40;
    position: relative;
    .story-cointeiner {
      padding-top: 39px;
      img {
        @include center;
        z-index: 20;
        @include media-breakpoint-down(sm) { 
          width: 20%;
          position: relative;
          margin: 15px auto;
          display: block;
          top: 0;
          left: 0;
          transform: translate(0, 0);
        }
      }
    }
    hr {
      width: 80px;
      height: 2px;
      background: $light_blue;
      &.mission-hr {
        margin: 0 auto 30px;
        @include media-breakpoint-down(xs) {
          margin: 15px auto 10px;
        }  
      }
      &.story-hr {
        margin: 0 0 30px; 
        @include media-breakpoint-down(xs) {
          margin: 15px 3% 10px;
        }  
      } 
    }
  } 
}