.button {
  font-family: $second_font;
  @include font-px-convert(14);
  border-radius: 40px;
  border: none;
  padding: 15px 30px;
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
  }
  &.team-button {
    background: $dark_blue;
    color: $second_text_color;
    position: relative;
    margin: 15px auto 13px;
    float: none;
    padding: 16px 32px;
    
  }
  &.footer-button {
    background: $second_text_color;
    color: $dark_blue;
    margin: 42px auto 47px;
    float: none;
    padding: 15px 45px;
  }
}