.footer {
  background-image: linear-gradient(to left, $light_blue_bg, $dark_blue_bg);
  padding: 30px 0;
  position: relative;
  overflow: hidden;
  hr {
    background: $dirty_white_color_footer;
    width: 100%;
    height: 1px;
    margin: 6px 0 20px;
  }
  .contact {
    li {
      display: inline-block;
      color: $dirty_white_color_footer;
      @include font-px-convert(14);
      margin-right: 70px;
      margin-bottom: 15px;
      a {
        color: $dirty_white_color_footer;
        @include font-px-convert(14);
        &:hover {
          color: $light_blue;
        }
      }
    }
  }
  .follow-us {
    li {
      display: inline-block;
      margin-right: 12px;
      @include media-breakpoint-down(md) {
        margin-right: 10px;
      }  
      a {
        .fab {
          color: $dirty_white_color_footer;
          background: transparent;
          @include font-px-convert(33);
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  } 
}