header {
  position: relative;
  height: 420px;
  width: 100%;
  background: linear-gradient(to right, $dark_blue_bg, $light_blue_bg);
  .title {
    margin-top: 160px;
    @include media-breakpoint-down(md) { 
      margin-top: 200px;
    }
  } 
  .vector {
    position: absolute;
    right: -35px;
    top: 160px;
  }  
}