.meet-our-team {
  padding-top: 134px;
  background-image: linear-gradient(to right, $dark_blue_bg, $light_blue_bg);
  padding-bottom: 272px;
  position: relative;
  hr {
    width: 80px;
    height: 2px;
    background: $light_blue;
    margin: 0 auto 7px;
  }
}