@mixin main {
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $main_font;
	@include font-px-convert(16);
	font-weight: 300;
	color: $main_text_color;
	line-height: 1.35;
  }
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin font-px-convert($px) {
  font-size: ($px / 16) + rem;
}