
.nav-container-center {
  padding: 43px 0;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: transparent;
  @include media-breakpoint-down(md) { 
    padding: 23px 0;
    background: $dark_blue_bg;
  }
  &.sticky {
    background: $dark_blue_bg;
   }
  .logo {
    width: 180px;
    height: auto;
    margin-top: 10px;
  }
  .navbar {
    float: right;
    margin-top: 10px;
    margin-right: 0;
    padding: 0;
    .navbar-toggler {
      width: 47px;
      height: 34px;
      border:none;
      outline: none;
      margin: 0;
      padding: 10px 0;
      transition: all 0.3s;
      .line {
        width: 60%;
        float: right;
        height: 2px;
        background-color: $second_text_color;
        margin-bottom: 5px;
      }        
    }
    .navbar-collapse {
      flex-basis: auto;
      .navbar-nav {
        @include media-breakpoint-down(md) { 
          padding: 30px;
          position: absolute;
          right: 0;
          top: 50px;
          background: $dark_blue_bg;
          width: 300px
        }
        .nav-link {
          color: $second_text_color;
          font-family: $second_font;
          @include font-px-convert(16);
          font-weight: 500;
          margin-right: 14px;
          @include media-breakpoint-down(lg) { 
            @include font-px-convert(13);
          }
          @include media-breakpoint-down(md) {
            margin-right: 0;
            margin-bottom: 10px;
            border-bottom: 1px solid $light_blue;
            @include font-px-convert(14);
          }
          &:active {
            color: $light_blue;
          }
          &:hover {
            color: $light_blue;
          }
          &.active {
            color: $light_blue;
          }
        }
        .connect {
          background: $light_blue;
          font-family: $second_font;
          @include font-px-convert(14);
          border-radius: 40px;
          color: $second_text_color;
          border: none;
          padding: 16px 31px;
          font-weight: 400;
          margin-left: 41px;
          margin-right: 0;
          margin-top: -6px;
          text-transform: uppercase;
          @include media-breakpoint-down(lg) { 
            @include font-px-convert(11);
            margin-left: 10px;
          }
          @include media-breakpoint-down(md) {
            width: 155px;
            @include font-px-convert(11);
            margin: 20px auto;
          }
          &:active {
            color: $second_text_color;
            opacity: 0.8;
          }
          &:hover {
            color: $second_text_color;
            opacity: 0.8;
          }
        }  
      }
    }
  }
}