.team {
  position: relative;
  padding-bottom: 30px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 110px;
    right: -20px;
    left: -20px;
    height: 180px;
    background: $light_background;
    transform: rotate(3deg); 
  }
}
.team-container {
  background: transparent;
  margin-top: -220px;
  margin-bottom: 30px;
  padding: 0;
  .profile-col {
    padding-bottom: 50px;
  }
  .profile {
    background: $second_text_color;
    border-radius: 5px;
    padding: 30px;
    height: 100%;
    @include media-breakpoint-down(xs) {
      
      margin: 0 3% 10px;
    }
    img {
      width: 100%;
      margin: 0 auto 23px;
      display: block;
      @include media-breakpoint-down(lg) {
        width: 80%;
      }
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
      @include media-breakpoint-down(xs) {
        width: 50%;
      }
    }
  }
  .linkedin {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    margin: -31px auto 28px auto;
    a {
      width: 62px;
      background: $dark_blue_bg;
      border-radius: 50%;
      @include font-px-convert(30);
      display: block;
      margin: 0 auto;
      text-align: center;
      .fa-linkedin-in {
        @include font-px-convert(30);
        line-height: 62px;
        color: $second_text_color;
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
}