.triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  svg {
    transform: rotate(3deg);
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  &.triangle1 {
    width: 80%;
    height: 97%;
    svg {
      height: 100%;
    }
  }
  &.triangle2 {
    width: 70%;
    height: 93%;
    svg {
      transform: rotate(5deg);
      height: 70%;
      margin-top: 20px;
    }
  }
  &.triangle3 {
    width: 80%;
    height: 97%;
    svg {
      transform: rotate(2deg);
      height: 75%;
      margin-top: -50px; 
    }
  }
}

