h1 {
  font-family: $second_font;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  color: $light_blue;
  @include font-px-convert(48);
  @include media-breakpoint-down(md) { 
    @include font-px-convert(46);
  }
  @include media-breakpoint-down(sm) { 
    @include font-px-convert(44);
  }
  @include media-breakpoint-down(xs) { 
    @include font-px-convert(40);
  }
}
h2 {
  font-family: $second_font;
  font-weight: 500;
  text-align: center;
  padding-bottom: 17px;
  @include font-px-convert(32);
  @include media-breakpoint-down(xs) { 
  padding: 0 3%;
  }
  .story-cointeiner & {
    text-align: left;
  }
  .meet-our-team & {
    text-align: center;
    color: $second_text_color;
  }
}
h3 {
  color: $dark_blue;
  @include font-px-convert(21);
  text-align: center;
  line-height: 1.5;
}
h4 {
  font-family: $second_font;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  color: $second_text_color;
  font-family: $second_font;
  font-weight: 700;
  @include font-px-convert(48);
  text-align: center;
  padding: 30px 0 20px;
}
h5 {
  color: $dirty_white_color_footer;
  @include font-px-convert(21);
  font-weight: 200;
  padding: 28px 0 20px;
  text-transform: uppercase;
}
p {
  text-align: center;
  margin-bottom: 20px;
  .title & {
    color: white;
    font-weight: 500;
    @include font-px-convert(21);
    @include media-breakpoint-down(md) { 
      @include font-px-convert(20);  
    }
    @include media-breakpoint-down(sm) {
      @include font-px-convert(19);
    }
    @include media-breakpoint-down(xs) { 
      @include font-px-convert(18);
    }
  }
  .story-cointeiner & {
    text-align: left;
    z-index: 20;
    @include media-breakpoint-down(xs) { 
      padding: 0 3%;
    }
  }
  .meet-our-team & {
    padding: 13px;
    color: $second_text_color;
    @include font-px-convert(18);
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-down(xs) { 
      width: 100%;
    }
  }
  .team-container & {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .footer & {
    margin: 0 auto;
    @include font-px-convert(21);
    color: $second_text_color;
    width: 70%;
    display: block;
    @include media-breakpoint-down(md) { 
      width: 100%;
    }
  }
}