$main_font: 'Roboto', sans-serif;
$main_font_size: 1rem;
$second_font: 'Montserrat', sans-serif;
$dark_blue_bg: #00415e;
$light_blue_bg: #007fac;
$main_text_color: #34474d;
$second_text_color: #fff;
$light_blue: #28b8ce;
$light_background: #ecf2f5;
$dark_blue: #003f5d;
$dirty_white_color_footer: #7fabbd;
$social_media: #006c94;